.BtnRadio-container {
    background: gray;
    padding: 10px 15px;
    border-radius: 41px;
    color: white;
}

.BtnRadio-container > [type="radio"] + span:before,.BtnRadio-container > [type="radio"].with-gap + span:before{
    border-color:white !important;
    opacity: 0.7;
}

.BtnRadio-container > [type="radio"]:checked + span:after,.BtnRadio-container > [type="radio"].with-gap:checked + span:after {
    background: white !important;
    background: white !important;
    opacity: 1;
}

.BtnRadio-container > [type="radio"]:checked + span:after, .BtnRadio-container > [type="radio"].with-gap:checked + span:before,.BtnRadio-container >  [type="radio"].with-gap:checked + span:after {
    border-color: white !important;
    opacity: 1;
}

.Central-local {
    background: gray;
    padding: 10px 15px;
    border-radius: 41px;
    color: white;
}