input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="date"]:not(.browser-default) {
	margin: 0 0 3px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--secondary);
    box-shadow: 0 1px 0 0 var(--secondary);
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label {
    color: var(--secondary);
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + ul + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + ul + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + ul + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + ul + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + ul + label {
    color: var(--secondary);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	
}

input[type="number"]::-webkit-inner-spin-button#pw,
input[type="number"]::-webkit-outer-spin-button#pw {
	
}



.h-icon-right {
	position: absolute;
    top: 50%;
	right: 57px;
	transform:translateY(-50%);
	color:#9b9b9b;
	font-size: 10px;
}

.Product-input:focus {
	outline: 2px solid var(--orange);
	transition: .2s;
}

input[type="number"]{
	-moz-appearance:none !important;
}

input[type="number"].qty{
-webkit-appearance: auto !important;}




