[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background: var(--secondary);
    background-color: var(--secondary);
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid var(--secondary);
}
