
	.Card.card{
		height:460px !important;
		max-height: 1300px;
	}
@media(max-width:2000px){

.Reference > div:first-child {
	border-radius: 2px;
	margin-right: .3rem;
	height: 24px;
	width: 24px;
}

.Reference > div:last-child {
	line-height: 24px;
	font-size: 0.75rem;
	font-weight: bold;
}

.Reference > .orange {
	background: var(--orange) !important;
	background-color: var(--orange) !important;
}

.Reference > .blue {
	background: var(--blue);
	background-color: var(--blue);
}

.Reference > .green {
	background: var(--green);
	background-color: var(--green);
}

.Reference > .pink {
	background: var(--pink);
	background-color: var(--pink);
}

.Reference > .c-orange {
	color: var(--orange);
}

.Reference > .c-blue {
	color: var(--blue);
}

.Reference > .c-green {
	color: var(--green);
}

.Reference > .c-pink {
	color: var(--pink);
}

.contentP{
	padding-left:5%;
	padding-right:5%;
	}


	.subtitle{
		margin-top:0%;
		font-size: 15px !important;
	}


		.Card.card{
			height:460px !important;
			max-height: 1300px;
		}}
	@media(max-width:500px){
		.subtitle{
			display:none;
		} }
  @media(max-width:900px){
	.Card.card{
        height:1600px !important;
        max-height: 1600px;
    }
  }


	