.autocomplete-content li span {
	color: var(--secondary);
}

.margin-radio{
	margin-left:-32px;
}

.reporteR{
	margin-left:100px !important;
}

.heightH{
    height:100px !important
}

.p-5 {
    padding: 5.0em !important;
    padding-top: 3.0em !important;
    padding-bottom: 2em !important;
}


.descInput{
text-align: left;
font: regular 12px/14px Roboto;
letter-spacing: 0;
color: #999999;
opacity: 1;
}
.subtitle{
    margin-top:3% !important;
    font-size: 15px !important;
}


@media(max-width:500px){
    .subtitle{
        margin-top:14%;
        font-size: 15px !important;
    } 

    b{
        font-size:12px !important
    }

    

}

  

    .col-0{
        margin-top:10px
    }
     
.EnhancedTableToolbar-title-109{
   width: 1700px !important;
}

.red-text {
    color: #F44336 !important;
    font-size: 0.7em;
}
.usuario label{
    color:red;
    }
    .usuario-error {
    color:red;
        border-bottom: 2px solid #e01c1c !important;
    }
    .usuario-error::placeholder {
       
            color: red;
          }

.compartir{
    color:black;
}


.z{padding-left:20px;}

.pad{
    padding-left:20px; 
}

.fas.fa-check-circle {
    color: 
    rgba(48, 184, 14, 0.952);
    font-size: 23px;
    margin-left: 15%;
    padding: 0px !important;
    margin: 0px !important;
  
}

.fas.fa-times-circle{
    color: rgb(218, 11, 11);
    font-size:23px !important;
    margin-left:15%;
}
.leftForm{
    margin-left:15px;
}

.print{
margin-top: -21px !important;
margin-left: 40px;

}


.MuiFormControl-root.z {

    position: relative;
    left: 270px;
    top: -42px;

}

.centro {
    text-align: center;
    margin-left: 0px;
    width: auto;
}



@media(max-width:2006px){



    .Card.card{
        height:500px !important;
        max-height: 1300px;
    }

   
    .IniciarS{
        max-height:100px !important;
        height: 100px !important;  
    }

    .resultGreen {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 46px;
        padding-top: 12px;
        max-width: 233px;
        position: relative;
        left: 75%;
        top: -50px;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;
    }

    .MuiFormControl-root.z {

        position: relative;
        left: 176px;
        top: -42px;
    
    }

    .centro {
        text-align: center;
        margin-left: -20px;
        width: 92px;
    }

 
    
}

@media(max-width:500px){
    .login {
        margin-left: 29%;
        margin-top: 7% !important;
    }
 
    .input-field > label{
        font-size:-5px !important
    }
    .Lead .Lead-Spark {

        margin: 0;
        font-size: 12px !important;
    
    }

    .col-12.col-lg-2.inputD.pick {

        margin-top: -10px;
    }

  .pick{
        margin-top: -10px !important;
    }

    b{
        font-size:12px !important
    }}

    @media(max-width:700px){
        
        .mostrarForm {
            position: auto;
            top: 41px !important;}

            .Card.card.Principal {

                height: 1129px !important;
                max-height: 1300px;
            
            }
    
    }

  
        
    @media(max-width:1200px){
        
    
}