.Note .Note-Lead i {
	background: var(--green-light);
	background-color: var(--green-light);
	border-radius: 50%;
	color: var(--green);
}

.Note .Note-Print {
	background: var(--pink) !important;
	background-color: var(--pink) !important;
}

.swal2-styled.swal2-cancel {

    border: 0;
    border-radius: .25em;
    background: initial;
        background-color: initial;
    background-color: #aaa;
    color: #fff;
    font-size: 1.0625em;
    margin-left: 146px;
    margin-top: -43px;}

.Note-Alert {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	background: #f5a623;
	color: white;
}

.Note-Alert span {
	width: 100%;
}

.add-button-con {
	position: relative;
    width: 56px;
		height: 56px;
		z-index: 1;
}

b.tienda{
margin-left:10px;
}
b.cliente{
margin-left:10px;

}

.add-button {

	position: absolute;
	width: 56px;
	height: 56px;
	overflow: visible;
	-webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
	  color 0s ease .4s,font-size .2s;
	-moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
	  color 0s ease .4s,font-size .2s;
	transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
	  color 0s ease .4s,font-size .2s;
	text-align: center;
	line-height: 56px;
	font-size: 28px;
	color: rgba(255,255,255,1);
}

.add-button:before {
	position: relative;
	z-index: 100;
	font-family: "Font Awesome 5 Pro"; font-weight: 100;	content:"\f067";
}

.add-button:hover {
	color: rgba(255,255,255,0);
	transform: rotate(0deg);
}

.sub-button {
	position: absolute;
	display: inline-block;
	background-color: var(--secondary);
	color: rgba(255,255,255,0);
	width: 28px;
	height: 56px;
	line-height:48px;
	font-family: "FontAwesome";
	font-size: 12px;
	transition: all .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
	left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
	bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
	right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
	width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
	height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
	transform .1s ease 0s,
	border-radius .2s  ease .2s;
}

.tl {
	top: 0;
	left: 0;
	border-radius: 28px 0 0 28px;
}

.tr {
	top: 0;
	right: 0;
	border-radius: 0 28px 28px 0;
}

.bl {
	bottom: 0;
	left: 0;
	border-radius: 0 0 0 28px;
}

.br {
	bottom: 0;
	right: 0;
	border-radius: 0 0 28px 0;
}


.tl:before {
	font-family: "Font Awesome 5 Pro"; font-weight: 100;content:"\f0e0";
	font-size: 20px;
}

.tr:before {
	font-family: "Font Awesome 5 Pro"; font-weight: 100;content:"\f02f";
	font-size: 20px;
}

.bl:before {
	font-family: "Font Awesome 5 Free"; font-weight: 900;content:"";
}

.br:before {
	font-family: "Font Awesome 5 Free"; font-weight: 900;content:"";
}


.add-button:hover .sub-button {
	width: 48px;
	height: 48px;
	/* transform: rotate(-45deg); */
	color: rgba(255,255,255,1);
	transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	color .3s ease .8s,
	transform .3s ease .8s,
	border-radius .4s  ease .6s;
}

.add-button:hover .tl {
	top: -25px;
	left: -25px;
	border-radius: 28px;
	background-color: var(--green);
	transition: all .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	color .3s ease .8s,
	transform .3s ease .8s,
	border-radius .4s  ease .6s;
}

.add-button:hover .tr {
	top: -25px;
	right: -25px;
	border-radius: 28px;
	background-color: var(--pink);
	transition: all .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
	color .3s ease .8s,
	transform .3s ease .8s,
	border-radius .4s  ease .6s;
}

.add-button:hover .bl {
	bottom: -25px;
	left: -25px;
	border-radius: 28px;
}

.add-button:hover .br {
	bottom: -25px;
	right: -25px;
	border-radius: 28px;
}

.Note .Note-Outline {
	padding-left: 12px;
	padding-right: 12px;
	color: var(--orange) !important;
	background: none !important;
	border: 2px solid var(--orange);
	border-radius: 7px;
	font-weight: bold;
}

.Note .Note-Outline:hover, .Note .Note-Outline:focus {
	background-color: transparent;
}

.Voucher {
	display: none;
	color: var(--secondary);
}

.Voucher h6 {
	font-weight: bold;
}

.Voucher p {
	font-weight: normal;
}

.cerrarS{
	position:absolute;
	top:73%;
	left:39%;
	border: 2px solid #b4d4f39d;
	padding: 10px;
	border-radius: 6px;
	color:#3085d6 ;
	font-size:16px;
	font-weight: 100;
	font-family: Roboto;
}

@media print {
	.Voucher {
		display: block;
	}
}

hr {
color:	#cdcdcd !important;
opacity:0.2;
}

.u-bg-pink {
color: white !important;
background: #ff1800b8;
width: 175px;
height: 45px;
padding-top: 4px;
padding-bottom: 45px;
}


.u-bg-pink:hover {
	background: #ff1800b8;
	color: white;
	border: 1px solid
	#ff1800b8;
	}
	

.Btn-Print span {
	color: var(--secondary);
}

.btn.btnModal{
background-color:white;
border-radius: 5px;
font-family: "Roboto";
font-size:16px;
font-weight: 100;
}

.fin{
	border: 1px solid rgb(0, 113, 206) ;
	color:rgb(0, 113, 206) ;

}

.swal-button.swal-button--cancel{
	background-color:rgb(23, 124, 207) !important;
	color:white !important;
	padding-top:10px;
	padding-bottom: 10px;
	font-weight: 100;
	border:1px;
}
.cerrar{
	border: 1px solid rgb(90, 126, 156) ;
	color:rgb(90, 126, 156);

}
.bluesquare-Recuerda{
    margin-top: 7px;
    padding:8px;
    background: #DFEEFF  0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:13px;
	color:#808080; }
	
	.swal-button {

		background-color: #0687d3 !important; }

button.ImprimirButton{
	background-color: white;

border: 0px !important;

border: 2px solid #0071CE !important;

padding: 3%;

margin-top: 5%;

margin-bottom: 1%;

border-radius: 5px;

width: 100%;

text-align: left;

}

elemento {

}
.swal-button.swal-button--confirm.swal-button--danger {

    background-color: white !important;
    color: rgb(91, 126, 182);
	border: 1px solid rgb(101, 106, 156);
	font-family:"Roboto";
	font-weight:100

}

.checkDisabled {

	width: 17px;

	background-color: #8080805e !important;
	
	height: 18px;
	
	margin-top: 64%;
	
	margin-left: 65%;
	border-radius: 2px;
}

input:disabled ~ .makeStyles-icon-72{
	background: white !important
}

[type="checkbox"]:not(:checked):disabled + span:not(.lever)::before {

	border: 2px solid rgba(87, 83, 83, 0.26);
	border-radius: 2px;
    background-color: rgba(100, 100, 100, 0.19);

}

button.cerrarModal{
	position: absolute;
    top: 2%;
    left: 90%;
    background-color: white !important;
    border: 0px;
    font-family: Roboto;
}

@media(max-width:500px){
	.finalizarModal{
		margin-bottom:10px
	}

	b.tienda{
		margin-left:10px;
		}
		b.cliente{
		margin-left:10px !important;
		
		}
}



@media(max-width:1300px){
	
	b.tienda{
		margin-left:10px;
		}
		b.cliente{
		margin-left:10px !important;
		
		}
}