.Product-table tr {
    border-bottom: none ;
    
}

.Product-table tr:hover {
background-color: rgba(218, 218, 218, 0.877);    
}

.Product-table th {
    font-size:12px;
    padding:15px;
}

.Product-table td {
    font-size: 12px;
  
}


input[type=date]::-webkit-inner-spin-button {
    display: visible;
    -webkit-appearance:inner-spin-button
}

.Card .Card-Header .card-title{
    font-size:20px !important;
    
    }

.Product-table tr th:last-child:not(.not) {
}

.Product-table tr td i.green-text {
	background: var(--green-light);
	background-color: var(--green-light);
	border-radius: 50%;
	color: var(--green);
}

.Product-table tr td i.red-text {
	background: var(--danger-light);
	background-color: var(--danger-light);
	border-radius: 50%;
	color: var(--danger);
}


input.quantity {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.Product-input {
    width: 60px;
    height: 24px;
    border-radius: 2px;
    border:1.5px solid #9b9b9b;
    color:#9b9b9b;
    padding-left:5px;
    padding-right:21px;
}

.Product-comentario {
    width: 23px;
    height: 22px;
    background-color: #4a4a4a;
    text-align: center;
    display: block;
    position: relative;
    border-radius: 10px;
    color: white;
}

.Product-comentario i {
    font-size: 11px;
}

.file-field .btn {
	background-color: var(--secondary);
}

.tooltippedError {
	position: absolute;
    top: 5.5px;
    right: 0;
}

.titulo{
  font-family: Roboto;
  font-weight:bold;
}

.EnhancedTableToolbar-title-262 {
    min-width: 70% !important;
}
.Lead-Spark{
}

.btn .btn-primary{
background-color: blue !important;
}

.headerTable{
font-family:"Bold 15px/24px Roboto";
letter-spacing: 0;
color: #868686; }

.form-control .buscador{
    max-width:500px !important;
}

td.borde-derecho{
border-right:1px solid rgb(161, 161, 161);

}


th.borde-derecho{
    border-right:1px solid rgb(161, 161, 161) ;
    padding-left:15px !important;
    
    }

    td.borde-izquierdo{
        border-left:1px solid rgb(209, 204, 204) !important;
        padding-left:15px !important;
    }

.borde-izquierdo{
    border-left:1px solid rgb(209, 204, 204) !important;
    padding-left:15px !important;
}

td, th{
    padding:0px;
}

.returnable{
    margin-left:25px !important;
}

.file{
    top:45px;
    
}
.MuiStepper-root{
    padding:12px !important
}

.m-11{
    top:-100px;
}

.mW{
    margin-top: 41px !important;

}

.inf{
    padding-left: 160px !important;

}

.verified{
    background-color: red;
}

.buscador{
    margin-top: 28px !important;

}

.buscadorLeft{
    left:5px
}

.btn-searchB{

background-color:rgba(47, 179, 29, 0.918);
line-height: 0 !important;
padding-top: 15px;
}

.btn-searchB:hover{

    background-color:rgba(47, 179, 29, 0.918);
}


.ej{
    max-width: 8% !important;
}

.nc{    width: 144% !important;


}

.productTitle {
    width: 76% ;
}
.ncTitle{
    width: 111%;
}

p.centerT{
    margin-left:15px;
}

.Lead-Spark{
    width:100%;
}

p.centerL{
    margin-left:31px;
    
}

.centerTitle{
    font-size:13px
}
i.fas.fa-times-circle {
    color: rgb(218, 11, 11);
    font-size: 24px !important;
    margin-left: 15%;
    padding: 0px !important;
    margin: 0px !important;
}
#ean0 {
    margin-left: 6px;
}

        .Desktop{display:block;} 
        .Phone{display:none;} 

@media(max-width:2000px){
    .redI{
        font-size:20px !important;
        color:red;
    }
    .pad30{
        margin-top:-23px
    }

    th.disp {
        width: 8%;
    }
    .swal-title {
        margin: 0px;
        font-size: 16px;
        box-shadow: 0px 1px 1px rgba(136, 135, 135, 0.21);
        margin-bottom: 28px;
      }

      .swal-title:first-child {
        margin-top: 4px;
    }
    .swal-title:first-child {
        margin-top: 4px;
        color: black;
        font-size: 16px;
    }


    .Card.card{
        height:515px !important;
        max-height: 1300px;
    }
    .pad20{margin-top:-20px !important}

    .Principal-table {

         height:600px
        
        }
    .ncTitle{
		width: 191% !important;
		 
        }
        .row.nomargin.details {
            font-size: 12px;
        }

		.productTitle{
			width:123%;
		 
        }
        
        .Desktop{display:block;} 
        .Phone{display:none;} 
}


@media(max-width:1200px){
    .Card.card{
        height:900px !important;
        max-height: 1300px;
    }
}


@media(max-width:500px){


    .Card.card{
        height:1100px !important;
        max-height: 1300px !important;
    }
    .pad30{
        margin-top:-0px
    }

  .Principal-table thead {

    overflow-y: hidden !important;
     height:600px
    
    }

     .Principal-table {

        overflow-x: hidden !important;
        overflow-y: hidden !important;
         height:600px
        
        }

        
     .Principal-table tbody{

        overflow-x: hidden !important;
        
        }

    thead{
        height:600px;
    }

    .file{
        top:0px !important;
    }
    .Lead .Phone {
        font-size: 13px !important;
        margin-left: 26px;
        font-family: Roboto;
    }
    

    .Phone{
        margin-left:5px;
    }
    span{margin-top:5px;}
    b, strong {
        font-size: 1rem;

letter-spacing: .5px; 
        font-family: Roboto;
    
    }

    .Desktop{display:none;} 
    .Phone{display:block;}   
}



@media(max-width:991px){
    .Lead.Desktop p{
        font-size:10px !important;
        padding-left:20px;
        margin-top:12px;
        
    }

    .Principal-table {

        overflow-x: hidden !important;
        overflow-y: hidden !important;
         height:600px
        
        }
    
    .Lead span{
        margin-left:5%;
    }

    .file {
        top: 100px;
    }

    table.Principal-table, .Principal-table thead {

     font-size:-100px;
     
    
    }

   
table.Principal-table, .Principal-table tbody {

    display: block;
    height: 209px;
    font-size:8px;
    overflow-x:scroll;
    overflow-y:scroll;
 

}

.tipoP{
    margin-top:10px
}
.Principal-table {
margin-top:20%;}

.row.nomargin.details{
    display:none;
}

.row.nomargin.motivos {
    margin-bottom: -21px !important;
    margin-top: 100px !important;
}

input#pw {
   
        max-height: 10px;
        /* font-size: 8px; */
        padding: 8px;
    
}


    
}