[type="checkbox"].filled-in:checked + span:not(.lever):after {
    background-color:red !important;
    border-color: var(--blue);
}

.LastNC-table-local tr {
    border:none;
}

.Product-table.Local thead tr th, .Product-table.Local tbody tr td {
	font-size: 11px;
}

.MuiSelect-select.MuiSelect-select.reportcentral {
    font-size: 10px;
}
.Product-table.Local thead tr th, .Product-table.Local tbody tr td {
	text-align: center;
}

.Product-table.Local tbody tr td .btn-floating {
	width: 30px !important;
    height: 20px !important;
    line-height: 20px !important;
}
tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.Product-table.Local tbody tr td .btn-floating i {
	font-size: 1.3rem;
	line-height: 20px;
}

.ReportDetalle-table tbody  thead td{
    text-align: center !important;   

 }
 td{
     text-align:center !important;
 }
.h-label {
	font-size: 12px;
	position: absolute;
	top: -4px;
	color: rgba(0, 0, 0, 0.54);
}

.pickers ::before {
    border:none !important;
}

.pickers label {
	font-size: 1.4rem !important;
}

.Report-check-hidden {
	width: 24px;
	height: 24px;
	display: inline-block;
}

.modal .modal-content {
    padding: 61px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top:-20px;
}

.Lead-Spark{
}



td.centerT{
    padding:12px !important;
    text-align:center !important
}

.tooltipped{
    background-color: white;
    margin:25px;
    z-index: 1 !important;
}

.tool{
    background-color: white;
    color:black
}

.tooltip{
    background-color:white;
    margin:0px !important;
}

.tooltipInfo{
    background-color:white;
    margin:0px !important;
}

.rc-tabs-bar{
    border:0px;
    border-bottom: 0px !important;
    border-bottom: 0px solid #ffffff !important;
}

.moreright{
    margin-left:44px !important;
}

.lessleft {

    position: absolute;
    left: -19px;

}

.px-3.px-44.valign-wrapper {

    margin-left: 20px;

}

.MuiMenu-paper{
    max-height: calc(100% - 96px);
    -webkit-overflow-scrolling: touch;
     width: 300px!important;
    }

input[type=date]::-webkit-inner-spin-button {
        display: none;
    }
@media(max-width:2000px){

    .inputMotivo{
        width:11%;
        padding-left:5px;
        padding-right:5px;
    }
   
.greenResultCentralDMF{
    left:74% !important;
    height: 40px;
}


}
@media(max-width:2000px){

    .tipoInformeInput{
        width:17%;
        padding-right:5px
    }

    .itemInput{
        width:3%
    }

    .formatoInput{
        width:9% !important;
        margin-right: 6px;
    }
    .closeButton{
        margin-top:5% !important;
        margin-bottom:5% !important;
    }

    #informe {
        font-size: 12px !important;
    
    }
    #formato {
        font-size: 12px !important;
    
    }
    #mercado
        {
            font-size: 12px !important;
        
        }
    
    .desde{
        width: 9.5555% !important;
    }

    .mercado{
        width:8%;

    }

    .formato{
        width:8%; 
    }

    .nlocal{
        width:8%;
    }

    .motivo{
        width:8%
    }
    .px-3.px-44.valign-wrapper{
        margin-left:0px !important;
    
        
    }
    
    .MuiInputBase-input.MuiInput-input.MuiInputBase-inputAdornedStart{
        font-size: 0.8em !important
    }

    .col-12.col-lg-2.inputD.pick {

        margin-top: -10px;
    
    }
    .col-lg-2.inputD.pick{
        margin-top: -10px;

    }
    .MuiMenu-paper{
        max-height: calc(100% - 96px);
        -webkit-overflow-scrolling: touch;
         width: 300px!important;
        }

        input[type=date]::-webkit-inner-spin-button {
            display: none;
        }
}

@media(max-width:380px){

    .pad20{
        padding-top:20px !important;
    }

    .pad5{padding-top:19px !important}
    .greenResultCentral {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 46px;
        padding-top: 12px;
        max-width: 223px;
        position: relative;
        font-family: Roboto;
        font-size: 12px;
        padding-right: 20px;
        left: 70% !important;
        top: -39px;
    }
    .titlePhone {
        margin-left: -23px !important;
    }

    .mercado{
        width:20%;

    }

   .formato{
    width:20%;

}

.motivo{
    width:20%
}
    
    .inputD{
        margin-left:0px;
    }

    .btn-searchB{

        background-color:rgba(47, 179, 29, 0.918);
        line-height: 0 !important;
        padding-top: 15px;
        width:150px;
        }

       
        .cerrarBoton {

            margin-left: 400px !important;
            margin-left: 15% !important;
        
        }

        .leftPdf.pdfDetail {

            margin-left:-28px !important;
            margin-top: 40px !important;
        
        }

        .resp {

            margin-top: 37px;
            margin-left: -45px;
        
        }

    .Lead p.reporte{
        font-size:6px;
    }

    .topButton{
        margin-top: -2% !important;
        margin-bottom: 0px !important;
       
    }

    table.Product-table, .Product-table thead {
        display: block;
        max-height: 104px;
        height: 179px;
        width: 50px;
    }

   

    

    table.Product-table, .Product-table tbody {
        display: block;
        max-height: 271px;
        height: 300px;
        width: 148px;
    }
    .px-top-3{
     margin-top:20%;
    }
}

@media(max-width:500px){

    .inputMotivo{
        width: 95%;
        padding-left: 17px;
    }

    .tipoInformeInput{
    width: 95%;
    padding-left: 17px;
    }
    .itemInput{
        width:85%;
        padding-left:15px
    }

    .desde{
        padding-left:15px;
    }

    .reporte{
        margin-top:30px;
    }
    .formatoInput{
        width:95% !important;
        padding-left: 20px;
    }

    .pad20{
        padding-top:20px;
    }
    .desde{
        width: 40% !important;
    }
    .greenResultCentralDMF{
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 17px;
        padding-top: 1px;
        max-width: 212px;
        position: absolute;
        left: 14% !important;
        font-family: Roboto;
        font-size: 9px !important;
        padding-right: 20px;
        top: 9% !important;
    }
    .pad5{padding-top:19px !important}
    .greenResultCentral {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 18px;
        padding-top: 2px;
        max-width: 223px;
        position: relative;
        font-family: Roboto;
        font-size: 12px;
        padding-right: 20px;
        left: 0% !important;
        top: 0;
    }

    .titlePhone {
        margin-left: -17px !important;
    }

    .mercado{
        width:20%;

    }

    .formato{
        width:20%; 
    }

    .nlocal{
        width:10%;
    }
    .motivo{
        width:8%
    }

    .Lead .Lead-Spark {

        margin: 0;
        font-size: 5px;
    
    }

    .inputD{
        margin-left:0px !important;
    }

    .pick {
        margin-top: 0px !important;
    }

    .u-fw-500{
        font-size:5px;
    }
    .u-fz-20 {

        font-size: 10px !important;
    
    }
    table.Product-table thead{
        width:2000px;
        overflow-x: scroll;
        
    }
    table.Product-table tbody{
        width:2000px;

        
    }

    table.Product-table, .Product-table tbody {

        display: block;
        max-height: 182px;
        height: 315px;
        width: 315px;
        overflow-x:scroll
    
    }

    .row.footDownload {

        margin-top: 89px;
    
    }
    .resultGreen{
        left: 0px !important;
        top: 20px;
    }

    table.Product-table, .Product-table thead {

        display: block;
        max-height: 104px;
        height: 179px;
        width: 190px;
    
    }
    table.Product-table, .Product-table tbody {

        display: block;
        max-height: 104px;
        height: 90px;
        width: 190px;
    
    }

    table.Product-table, .Product-table thead {
        display: block;
        max-height: 104px;
        height: 179px;
        width: 190px;
    }

    table.Product-table, .Product-table tbody {
        display: block;
        max-height: 271px;
        height: 300px;
        width: 258px;
    }

    .bigLocalFoot {
        margin-top: 71px !important;
        margin-left: 8%;
    }

    .ncRight{
        display:none;
    }

    .ncLeft{
        display:none;
    }

    .topBoleta{
        display:none;
    }
    .u-fz-16{
        font-size:5px;
    }
    .fal.fa-search.u-fz-16 {
        margin-left: 0px;
    }

    .Card.card {
        max-height: 1200px;
        height: 1200px;
    }
   

    
   

    .inputD {
        width: 0;
        -ms-flex: 0;
        flex: 0 0 ;
    }
    .pr{
        display:none;
    }

    #Desde {

        font-size: 13px !important;
    
    }

    #Hasta {

        font-size: 13px !important;
    
    }

    .fontS{
        font-size: 10px !important;
        
       }

       [type="radio"]:not(:checked) + span, [type="radio"]:checked + span{
       font-size:0.8rem;}
   
       .rightL{
           text-align:right
       }

}

@media(max-width:900px){

    
    
    .inputD{
        margin-left:0px !important;
    }

    .nlocal{
        width:20%;
    }
    .mercado{
        width:20%;

    }

    .formato{
        width:20%; 
    }

    .motivo{
        width:20%
    }


@media(max-width:2300px){
    .resultGreen {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 62px;
        padding-top: 12px;
        max-width: 150px;
        position: relative;
        left: 49% !important;
        top: 0px;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;
    }
}
}