.eye {}

.btn .btn-linktrans{
    background: none !important;
    color:blue;
}


.usuario label{
    color:red;
    }
    .usuario-error {
    color:red;
        border-bottom: 2px solid #e01c1c !important;
    }
    .usuario-error::placeholder {
       
            color: red;
          }