.Lead {
    font-size: 1.35rem;
    letter-spacing: .5px;
}


.Lead span {
    border-bottom: 5px solid var(--decorator);
    display: block;
    margin-top: 0px;
    width: 65px;
}

.Lead-Spark p {
    display: inline-block;
    font-family: Roboto;
    font-weight: bold;

}

.Lead-Spark-img {
    display:inline-block;
    position: relative;
    top: -3px;
    left: -3px;
}
.subtitle{
    width:100% !important;
    max-width: 100%;
    background:none;
    color:black;
    height:0px !important;
    padding-top:0px;
    font-size:15px !important;
}

MainTitleLead {
    margin-top:-2%;
    width:100% !important;
    padding-top:50px;
}

.MainTitle{
    margin-top:-2%;
    width:100% !important;
    
}
.Lead p{
    font-size:14px;

}



.MainTitle .Main-MainTitle{
 
    width:100% !important;
    font-size:15px !important;
}

.center-text{
    padding-top: 8px;
}

i.fa-exclamation-circle:before{
    font-size:20px !important;
}


.EnhancedTableToolbar-title-112{
    font-size:20px !important;
    width:100%;
}

@media (max-width:100px){
.Lead p{
    font-size:5px;

}

.subtitle{
    font-size:5px;
}}

.searchB{
 
    
    top: -38px;
    
    left: 41px;
}

.u-bg-pinkB{
background-color: #ff5c5cd9;
color:white;
height:20px;

}

.u-bg-pinkB:hover{
    background-color: #ff5c5cd9;
    color:white;
    }

.buttonNew{
    height: 50px;

width: 178px;

}

.buttonNewEx{
    width:230px;
}