nav, footer.page-footer {
    background: var(--primary);
    background-color: var(--primary);
}

	nav a img {
		position: relative;
		top: 7px;
	}

	nav h1 {
		line-height: 54px !important;
		height: 54px;
	}

	@media only screen and (min-width: 601px) {
		nav a img {
			top: 3px;
		}

		nav h1 {
			line-height: 64px !important;
			height: 64px;
		}
	}

.Step .Step-Link {
	border-radius: 50%;
	font-size: 2rem;
	line-height: 47px;
	text-align: center;
	height: 54px;
	width: 54px;
}

.Step .Step-Link:not(:last-child) {
	margin-right: 1.5rem;
}

.Step .Step-Link.active {
	border: 3px solid var(--decorator);
}

.Card{
	border-radius: 5pt 5pt 5pt 5pt;

}

.Card .Card-Header {
	background: var(--primary);
	background-color: var(--primary);
	border: 2px solid var(--white);
	border-radius: 5pt 5pt 0pt 0pt;
	
}

.Card .Card-HeaderP .card-titleP {
	background: var(--white);
	background-color: var(--white);
	border: 2px solid var(--primary);
	border-radius: 5pt 5pt 0pt 0pt;
	padding-bottom:1px;
	border-bottom: 1px solid var(--primary);
	
} 

.HorizontalNonLinearAlternativeLabelStepper-root-1 {
    width: 100% !important;
    border-bottom: 1px solid var(--gris); }

.Card .Card-Header .card-title{
font-size:15px !important;
}

.Card .Card-Footer span {
	background: var(--decorator);
	background-color: var(--decorator);
	display: block;
	height: 10px;
	width: 100%;
	border-radius: 0pt 0pt 5pt 5pt;
}

.card-action {
    border-top:inherit !important;
}

.btn, .btn-large, .btn-small, .btn-flat {
    text-transform: inherit;
}

.u-fz-1_5 {
text-align: left;
font: bold 1em Roboto !important;
letter-spacing: 0;
color: #333333;
opacity: 1
}

.undefinedundefined{
 margin-left:-5px;

}

@media only screen and (min-width: 767px) {
	.u-br-1 {
		border-right: 0px solid #e6e6e6;
	}
  }

.u-center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) !important;
}

.u-shadow {
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.11);
}

.u-fz-16 {
	font-size: 16px !important;
}

.max-content {
	width: max-content;
}

.w-100 {
	width: 100% !important;
}



@media only screen and (min-width:992px) {
	.LastNC-table > tbody > tr{
		border-right: 1px solid rgba(0, 0, 0, 0.12);
		border-left: 1px solid rgba(0, 0, 0, 0.12);
	}
}

.btn-pink {
	background: var(--pink);
}

.text-right {
	text-align: right;
	margin-top:100px;
}

.modal-view-onlyDevelop {
	display: block !important;
	top: 50px !important;
}

.u-bg-green {
	background: #76c043 !important;
}


.u-text-gray {
	color: #949494 !important;
}

.u-text-blue {
	color: var(--blue) !important;
}

.u-text-pink {
	color: var(--pink) !important;
}

.u-text-green {
	color: #76c043 !important;
}

.u-op-0_9 {
	opacity: .9 !important;
}

.u-scrollX-auto {
	overflow-x: auto !important;
}
.u-height-400 {
	height: 400px !important;
}
.u-Maxheight-386 {
	max-height: 386px !important;
}

.u-Maxheight-226 {
	max-height: 226px !important;
}

.u-text-bold {
	font-weight: bold;
}

.u-fz-22 {
	font-size: 22px !important;
}
.u-fz-20 {
	font-size: 20px !important;
}

.u-fw-500 {
	font-weight: 500 !important;
}

.select-wrapper input.select-dropdown {
	padding-right: 10px;
    box-sizing: border-box;
	text-overflow: ellipsis;
}

.select-wrapper li>span {
	color:var(--blue);
}


.Header-logout {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.4;
	font-size: 1.4em;
	transition: all 0.4s;
	cursor: pointer;
}

.Header-logout:hover {
	opacity: 1;
}

.Header-logout:active{
	opacity: 0.7;
}

@media only screen and (max-width: 342px) {

	.Header-logout {
		display: none;
	}
}

@media only screen and (max-width: 601px)
{
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 40px;
    line-height: 40px;
}
}

.w-100 {
	width: 100% !important;
}

/* .MuiInputBase-input-46, .MuiInput-input-31, .pickers div {
	border:none !important;
} */

.position-relative {
	position: relative;
}

.u-thead-fixed tbody {
  display:block;
  height:150px;
  overflow:auto;
}
.u-thead-fixed thead,.u-thead-fixed tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
.u-thead-fixed thead {
  width: calc( 100% - 1em )
}
.u-thead-fixed table {
  width:100%;
}

.ReportDetalle-table-one{
	border-radius: 5px;
}

.ReportDetalle-btn-cerrar {
	line-height: 45px;
	padding-top:2px;
	padding-bottom: 2px;
}

.ReportDetalle-table td, .ReportDetalle-table th {
	padding: 3px 2px !important;
	text-align: left !important;
}

.ReportDetalle-table-header {
	width: 70%;
	font-size: 12px;
	margin: auto;
}

.ReportDetalle-table-header tr {border: none !important;}


th.wt{
    padding-left: 37px !important;}

td.wt{
    padding-left: 37px !important;
}

.greenResultAj {
    background-color: #D9FFD9;
    color: rgba(54, 51, 51, 0.589);
    height: 46px;
    padding-top: 14px;
	max-width: 229px;
	position: absolute;
	top: -192px;
	left: 73%;
    font-family: Roboto;
    font-size: 13px;
    padding-right: 20px;
}


.up{
	margin-top:-20px;
}
.row.footDownload {
	margin-top: 106px;
}


@media(max-width:1366px){
	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		height: 40px;
		line-height: 40px;
	}
	.greenResultAj {
		background-color: #D9FFD9;
		color: rgba(54, 51, 51, 0.589);
		height: 46px;
		padding-top: 14px;
		max-width:229px;
		position: absolute;
		top: -192px;
		left: 63%;
		font-family: Roboto;
		font-size: 13px;
		padding-right: 20px;
	}

	.greenResult{
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 46px;
        padding-top: 13px;
        max-width: 240px;
        position: absolute;
        top: 154px;
		left: 78%;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;
        
        
	}
	
	.row.footDownload {
		margin-top: 82px;
	}

	

}