@media only screen and (min-width:1374px){
	.modal.small {
		width: 40% ; 
	}

	.modal.medium {
		width: 65.2%;
	}

	.modal.large {
		width: 90.2%;
		overflow-x:auto;
	}
}

.modal .modal-header {
	color: var(--white);
}

.modal .modal-header.danger {
	background: var(--danger);
	background-color: var(--danger);
	border-bottom: 1px solid rgb(204, 202, 202) !important;

}

.modal .modal-header.warning {
	background: var(--white);
	color: var(--gray);
	border-bottom: 1px solid rgb(204, 202, 202) !important;

}

.modal .modal-header.success {

	border-bottom: 1px solid rgb(204, 202, 202) !important;
}

.modal .modal-header h4 {
	font-weight: 300 !important;
	font-size: 22px;
	margin: 0px;
	padding: 7px 0px;
}

.modal .modal-content hr {
	width: 80%;

	height: auto;
	text-align: center;
	position:relative;
	left:-52px;
	top:-81px;
	margin-right: 100px !important;
	padding-left: 7%;
	padding-right: 9%;
	
	
}	



.sp{
	margin-left:250px !important;
}