.Outline {
	border-width: 1.5px;
	border-style: solid;
	border-radius: 7px;
	font-weight: bold;
}

.Outline.orange {
	border-color: var(--orange);
	color: var(--orange);
}

.Outline.green {
	border-color: var(--green);
	color: var(--green);
}
