.Raised {
    height: auto;
    background: var(--secondary);
    background-color: var(--secondary);
    border-radius: 6px;
}

.Raised:hover {
    background: #358cd4;
    background-color: #358cd4;
}

.Raised:focus {
    background: #004884;
    background-color: #004884;
}

.GreenButton{
background-color: var(--green);}

.GreenButton:focus{
    background-color: var(--green);}