/**
* README !!!
*
*
* SE DEBE CREAR UNA VARIABLE DE CSS PARA CADA ESTILO QUE SE VA A REPETIR EN LA APLICACION,
* ESTO PRINCIPALMENTE PARA LOS COLORES U OTROS ESTILOS QUE SEAN NECESARIOS MANEJARLOS.
*
* USAR NOMENCLATURA "BEM" PARA LOS ESTILOS CSS. LINK => https://bit.ly/2VOT2A2.
* PARA LOS ID QUE EJECUTEN UNA ACCION O SIMPLEMENTE NO CONTENGAN ESTILOS USAR CAMELCASE MINUSCULA.
* EJEMPLO: inputUsuario, inputEmail, openModal, closeModal.
*
* RECORDAR QUE LOS FRAMEWORK DE DISEÑO SON LOS SIGUIENTES:
* 1.- BOOTSTRAP 4: PARA LOS ESTILOS DEL GRID.
* 2.- MATERIALIZE: PARA LOS ESTILOS DE LOS COMPONENTES.
*
* **Todas las clases que no siguen el patron BEM se da por entender
* que son parte de bootstrap o materialize.
*
* ********** NO REPETIR CODIGO **********
*/

:root {
	--white: #fff;
	--orange: #f47521;
	--blue: #0071ce;
	--green: #5FB446;
	--green-light: rgba(118, 192, 67, 0.2);
	--pink: #eb148d;
    --gray: #75787b;
    --gray-dark: #343a40;
    --primary: #041E42;
	--secondary: #0071CE;
	--decorator: #F1BC28;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #ff374a;
    --green: #28a745;
    --danger-light: rgba(255, 55, 74, 0.18);
    --gris:rgba(202, 202, 202, 0.342);
    --light: #f8f9fa;
    --dark: #343a40;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    background-image: url(images/bg-static-walmart.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x:hidden !important ;
}

img {
    border-style: none;
    max-width: 40%;
}
/* el  boton arrows */
input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="date"]:not(.browser-default) {
    margin: 0 0 3px 0;
}

button.welcome{
    margin-top:-20px !important;
}

.glyphicon.glyphicon-remove-circle{
    font-size:20px !important;
    }

.input-field > label{
    top:-5px !important;
}

.page-footer {

padding-top: 0px !important;
}
.autorizo{
    margin-top:-10px !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem !important;
    width: 100%;
    font-size: 14px;
    margin: 0 0 8px 0;
    padding: 0;
    top:2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
.number-input input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
    }
    
    .number-input {
    margin-bottom: 3rem;
    }
    
    .number-input button {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
    text-align: center;
    }
    
    .number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
    }
    
    .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
    }
    
    .number-input.number-input button.minus {
    padding-left: 10px;
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
    }
    
    .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
    }
    
    @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
    }
    }
    }

.quantity {
    position: relative;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {

  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
  }

  .qty input[type=number] {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: inner-spin-button !important;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }



.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
    line-height: 1.3;
}

    .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
        font-weight: inherit;
    }

.h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

.h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
}

.h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
}

.h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
}

.h5 {
    font-size: 1.40rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
}

.h6 {
    font-size: 0.7rem;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0;
}
 
i{
    margin-right:1%;
}

i.fas.fa-eye {
    position: absolute !important;
    top: 9px;
    left: 90%;
    color:#999999;
    
}

i.fas.fa-eye-slash{
    position: absolute !important;
    top: 9px;
    left: 90%;
    color: #999999;
}

.devTitle {
    top: -27%;
    position: absolute;
    left: 41%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(149, 149, 149);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(149, 149, 149);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(149, 149, 149);
  }

 .reporteR{
	padding-left:-372px !important;
}

.Card .Card-Header .card-title{
    font-size:15px !important;
    
    }

    

    .z-depth-2 {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 5px 0 
    rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0.0), 0 2px 4px -1px
        rgba(0, 0, 0, 0.0);
    }

    #Header {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1;
    }

    .MuiStepIcon-root-60.MuiStepIcon-active-62 {
        color: #5593ff !important;
    }

    
    .MuiTypography-root-74.MuiTypography-body1-83.MuiStepLabel-label-52.MuiStepLabel-active-53{
        color: #5593ff !important;
        font-weight: bold;
    }

    .MuiSvgIcon-root-65 {
        border: 1px solid #d0cece;
border-radius: 15px 15px 15px 15px;
    }

    .MuiStepIcon-text-61 {
        fill: #b6b6b6d2 !important;
        font-size: 0.75rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(241, 241, 241), 0 -1px rgb(255, 255, 255);    }
    .MuiStepIcon-root-60 {
        color: 
        rgba(255, 255, 255, 0.38) !important;
    }

    
	.MuiPaper-root .MuiPaper-elevation1 .MuiPaper-rounded{
        max-width:100% !important;
        width:900px  !important;
	}

.Paper{
      width:100px !important;
  }

.com{
    margin-bottom:50px;
}

  .centrar{
      margin-left:3%;
      max-width:95% !important;
  }

  .EnhancedTableToolbar-title-128{
      width:100% !important;
  }
  .EnhancedTableToolbar-title-505{
      width:1500px !important;
      min-width:100%;
  }
  .EnhancedTableToolbar-title-32{
    width:100% !important;
}

#tableTitle{
    width:80% !important;
}

.EnhancedTableToolbar-title-262 {
    min-width: 60%;
}

.login{
    margin-left:29%;
}

.EnhancedTableToolbar-highlight-29{
   background:none !important;
   color:none !important;

}

.btn-primary{
    background-color: rgb(18, 155, 246) !important;
    }

#step{
    color:var(--light);
}

.useridError{
    border-bottom:1px solid red;
}


#password{
font-size:auto;
}
#userid{
    font-size:auto;
    }

    #numLocal{
        font-size:auto;
        }

.error-input{
    border-bottom: 1px solid #ff0a0a !important;
  }

.helper{
    color:rgb(173, 165, 165);
    font-size:0.7em;
    font-family:Roboto;
    padding-bottom:11px;
}

label.active{
    color:rgb(165, 162, 162) !important;
  }


input[type="text"]:focus{
    border-bottom:1px solid #cecece !important;;
}

.EnhancedTableToolbar-title-109{
    width: 1700px !important;
 }


 .Card-Footer.card-action.p-0.pt-4.border-top-0 {
    border-radius: 200px 200px 200px 200px;
    margin-left: -3.2%;
    margin-right: -3.2%;
    max-height: 10px;
    margin-top:0px !important
}

.Card.card {
    max-height: 793px;
    height: 710px;
    
}

.Card-FooterF.card-actionF.p-0.pt-3.border-top-0 {
	background: var(--decorator);
	background-color: var(--decorator);
	display: block;
	height: 10px;
	width: 100%;
	border-radius: 0pt 0pt 5pt 5pt;
	margin-top: -0px;
margin-right: -3.2px;
max-height: 0px !important;
}

.Card-MainF {
max-height:90% !important
}

.Card-Login {
    max-height:90% !important
    }
.topButton{
    margin-top: -10% !important;
    margin-bottom: 0px !important;
   
}
.beforeButton{
    margin-top:-210px;
    margin-bottom: 0px !important;


}

.col-md-2.col-lg-2.col-sm-6.col-6.ciudad {
    margin-top: 6px;
}

.heightCard{
    max-height:400px;
}

.MainBody .Main-MainBody{
    max-height: 460px !important;
}


.usuario label{
    color:red;
    }
    .usuario-error {
    color:red;
        border-bottom: 2px solid #e01c1c !important;
    }
    .usuario-error::placeholder {
       
            color: red;
          }
.MuiTableCell-root{
    padding:5px;
    padding-top:0px !important;
}

.spaceCard{
padding-left: 3%;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #0071CE;
}

.MuiStepLabel-label.MuiStepLabel-active {
color:  #0071CE;
font-weight: 500;

}



.MuiStepIcon-root.MuiStepIcon-completed {

color: #5EADCC !important;

border-radius: 10px 10px 10px 10px;

opacity: 1;

}
.MuiStepLabel-label.MuiStepLabel-completed {
    color: #5EADCC !important;
    font-weight: 700;
}

.MuiStepLabel-label.MuiStepLabel-completed {
    color: #5EADCC;
    font-weight: 700;
}

.MuiStepLabel-label.MuiStepLabel-active {
    color: #0071CE !important;
    font-weight: 700;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color:  #61b70a !important;
}

.fas.fa-times-circle{
    color: rgb(218, 11, 11) !important;
    font-size:23px;
    margin-left:15%;
}

.fas.fa-check-circle{
    color: rgba(48, 184, 14, 0.952);
    font-size:23px;
    margin-left:15%;
   
}

.btn, .btn-large, .btn-small{
background: #0071CE 0% 0% no-repeat padding-box;
color: #0071CE 0% 0% no-repeat padding-box; 
height: 10px;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
    background: #0071CE 0% 0% no-repeat padding-box;
    color: #0071CE 0% 0% no-repeat padding-box; 
    }



.searchB.btn.btn-searchB:after{
    background: rgb(111, 240, 93) !important;
   
}
.btn.btn-searchB{
    height: 31px;
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: none;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default):focus, input.valid[type="password"]:not(.browser-default), input.valid[type="password"]:not(.browser-default):focus, input.valid[type="email"]:not(.browser-default), input.valid[type="email"]:not(.browser-default):focus, input.valid[type="url"]:not(.browser-default), input.valid[type="url"]:not(.browser-default):focus, input.valid[type="time"]:not(.browser-default), input.valid[type="time"]:not(.browser-default):focus, input.valid[type="date"]:not(.browser-default), input.valid[type="date"]:not(.browser-default):focus, input.valid[type="datetime"]:not(.browser-default), input.valid[type="datetime"]:not(.browser-default):focus, input.valid[type="datetime-local"]:not(.browser-default), input.valid[type="datetime-local"]:not(.browser-default):focus, input.valid[type="tel"]:not(.browser-default), input.valid[type="tel"]:not(.browser-default):focus, input.valid[type="number"]:not(.browser-default), input.valid[type="number"]:not(.browser-default):focus, input.valid[type="search"]:not(.browser-default), input.valid[type="search"]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid  #0071CE  !important;
-webkit-box-shadow: 0 1px 0 0 #0071CE !important;
box-shadow: 0 1px 0 0 #0071CE !important;
}

.MuiButtonBase-root.MuiIconButton-root.MUIDataTableToolbar-icon-147 {
    display: none;
}

.input-field {
    margin-top: 0rem;
   
}

.MuiTable-root.MUIDataTable-tableRoot-107{
    border: 1px solid rgb(224, 224, 224);
    padding-right:550px;
}

.MuiTable-root.MUIDataTable-tableRoot-107-selected{
    border: 1px solid rgb(224, 224, 224) !important;
    padding-right:550px;
}

.tableProducts{
    border:"solid 2px black"
}
.inputSpace{
    margin-bottom:20px;
}

table{
    font-size:12px;

}

table td{
    font-size:10px;

}
table.Principal-table, .Principal-table thead{
font-size:11px;
}
.pt9{
    padding-left:45px !important;
    padding-right:80px !important;
}

.MuiSelect-select.MuiSelect-select{
   
    width:900px;
    font-size: 15px;
    
    
}

.spaceleft{
padding-left:"15%"; }

.hideForm{
    display:none;
}
.pink-square{
    margin-top: 45px;
    padding:25px;
    background: #FF777C 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    width:145%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:11px;
    color: white ;
    position: absolute;
    left: 174%;
    top: -117px;

}



button.GreenButton{
    background-color: var(--green) !important;}
    
button.GreenButton:focus{
        background-color: var(--green) !important;}

.cliente-error {
            color:red;
                border-bottom: 2px solid #e01c1c !important;
            }

.login-title 
    {
        left: 305pt;
        height: 23pt;
        text-align: center;
        font: "Roboto";
        letter-spacing: 0;
        color: #333333;
        opacity: 1;
        font-size: 10px;
        background: #F2F2F2 0% 0% no-repeat padding-box;
        padding: 6px;
    }
    

.alerta{
top: 249pt;
left: 1054pt;
width: 656pt;
height: 35pt;
background: #FF777C 0% 0% no-repeat padding-box;
border-radius: 4pt;
opacity: 1;

}

.row.toolbar {
    position: relative;
    top: 85px;
    font-size:5px;
}
.lista{
    padding-top:3px
}
.headToolbar{
font-size:5px}

.MuiToolbar-regular {
    min-height: 64px;
    margin-top: 4px;
    margin-left: 231px;
}

td{
    max-width:150px
}

.th{
    border-bottom: 1px solid gray;
}

h6{
    font-family:"Roboto";
    font-size: 13px;
    font-weight: 10;
}

.detalleTitle{
  margin-left:7%;
}

.MuiStepLabel-label.MuiStepLabel-completed{
    font-weight: 700 !important;
} 

.MuiTypography-root.MuiStepLabel-label.MuiStepLabel-active.MuiTypography-body2.MuiTypography-displayBlock{
    font-weight: 700 !important;
}

tr{
    border-bottom:0px !important;
}


td.MuiTableCell-root.MuiTableCell-body.MUIDataTableBodyCell-root-1357.MUIDataTableBodyCell-stackedCommon-1359.ok{
    border-left:1px solid gray !important;
 
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained{
background:var(--primary);
color:white;
height:10px;
font-size: 11px; }


.BienvenidoTextoCompleto{
    font-size:9px;
}

.fas.fa-user-circle{
    margin-left:10px;
}

.MuiPopover-paper {
   
    width: 201px;
    margin-top: 2%;
}

.card {
    border: 1px solid rgb(187, 184, 184);
    border-bottom: 0px;

}

.card-header{
    background:#F2F2F2;
    font-weight: bold;
    font-family:Roboto;
    font-size:11px;
    padding:5px;
    font-size:10px;
}
.centerTitle{
    padding-left:2%;
}
.cardBody{
    padding-left:2%;
    padding-right:2%;
    font-family:Roboto;
}

.w{
    padding:0px !important;

}

.leftw{
padding-left:0px !important;
}

.rightw{
padding-right:0px !important;
}


.right{
   float:left !important;
    }
li{
    border-bottom: 1px solid rgba(231, 231, 231, 0.973);
    margin-right:-2%;
    margin-left:-2%;
    padding-left:2%;
    margin-top: 2px;
    margin-bottom: 3px;
}

.tbl{
    border-bottom: 1px solid rgba(231, 231, 231, 0.973);
    margin-right:-2%;
    margin-left:-2%;
    padding-left:2%;
     padding-bottom:0px;

}

.p-b{
    padding-bottom:1%;
}

.card .card-content{
    padding-top:0px;
    padding-left:2%;
    padding-right:2%;
    font-size:11px;
    font-family: Roboto;
}

.p-l{
    padding-left:5%;
    padding-bottom:0 !important;
}

.p-b-z{
    margin-bottom:0px !important;
}

.mostrarForm{
    color:red !important;
    position: relative;
    top: -83px;
}

.pasos{
    margin-top:-63px !important;
}

.esconderForm{
    color: white!important;
    display:none !important;
    
}

.greenBtn{
    background-color: var(--green) !important;
}

#o2xp .Table-Body{
    height:400px;
}


.qty{
    max-width:90px;
    width:65px !important;
}

.whiteIcon{
color:white !important;
font-weight:bold;
font-size:30px
}

.mt{
    margin-top:5px;
}

.list-group-item{
    padding-top:0px;
    padding-bottom:0px;
}

.thtbl{
    margin-top:2px;
    margin-bottom:2px;
    border-bottom:1px solid rgba(231, 231, 231, 0.973);
    margin-left:-2px;
    margin-right:-2px;

}

.p-2{
    margin-left:-30px;
}

.p-zero{
   padding-top:0px;
   margin-top:-10px;
   margin-bottom:6px;
}

.card .card-main{
    padding-bottom:2px !important;
    margin-bottom:5px;
    margin-top:5px;
}

h7{
    font-size:13px;
}

button.swal2-confirm.swal2-styled{
  color: #3085d6 !important;
}
.swal2-styled {
    margin: 2.313em;
    padding: .625em 2em;
    box-shadow: none;
    font-weight: 500;
}
.swal2-confirm.swal2-styled{
    margin-right:38%;
}

.swal2-actions { 
    margin-top: -7px;
    margin-bottom: -14px;
}

.modal{
    width: 90% !important;
overflow-x: hidden;
height: 700px;
}

.modal .modal-content{
    padding-bottom:0px;
}

input[type="number"].det {
    -moz-appearance:textfield;
}

.linea {
    width: 127% !important;
    margin-left: -100px;
    margin-top:   55px;
    padding-bottom:0px;
}

.modal-content.center {
    padding: 61px;
    padding-top:0px;
}

#pw input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: auto !important;
    opacity: 1 !important;
    
  }

 tr{
      border:1px solid rgb(206, 206, 206) !important;
      padding-bottom:18px !important;
      max-height:2px !important;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  
    pointer-events: all;
    opacity:0;
    z-index:5 !important;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
    background-color: blue !important;
    z-index:5 !important;

}





.tooltipped{
    background-color: white;
    margin:25px;
    z-index: 1 !important;
}

.tool{
    background-color: white;
    color:black
}

.tooltip{
    background-color:white;
    margin:0px !important;
}

.tooltipInfo{
    background-color:white;
    margin:0px !important;
}

i.fas.fa-question-circle.fa-lg.tooltippedInfo {
    color:  #24222296;
    background-color:white !important;
    background:white !important; 

}

.tooltippedInfoMotive{
    color:#2c2c2c96;
    background-color: white !important;
    background:
    white !important;
}

/* .scrollit {
    overflow-y:scroll;
    height:250px;
    border-bottom: 1px solid#0000003d;
    border-top: 1px solid #0000003d;
    margin-top: -20px;
    
} */

tr{
    padding:0px;
}

.tooltipped{
    background-color:white !important;
}


.blueSquare{
    border: 2px solid #0071CE;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 5px;

}

.orangeSquare{
    border: 2px solid rgb(255, 123, 0);
    padding: 3%;
    margin-left: 111px !important;
    margin-top: -40px  !important;
    border-radius: 5px;
    font-family: Roboto;
    margin-right:6px;

}

.space{
    padding-top: 40px;
}

.sq{
    margin-left:631px;
    margin-right:116px;

    

}

.bluesquare-Recuerda{
    margin-top: 19px;
    padding:15px;
    background: #DFEEFF  0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:11px;
    color:#808080; }
    
    .orangeIcon{
        font-size:25px;
        color:orange
    }

 .b{
     margin-top:3px!important;
 }   

.bluesquare{
margin-top: -27px;
padding:15px;
background: #DFEEFF  0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-size:11px;
color:#808080; }

.bluesquareReport{
    margin-top: -11px;
    padding:15px;
    background: #DFEEFF  0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:11px;
    color:#808080; }

.orangeIcon{
    font-size:25px;
    color:orange
}

.blueIcon{
    font-size:25px;
    color:#0071CE;
    font-size:25px;

}

a{
  color:black;
}

.leftCard{
    margin-left:9%;
}

.spaceFoot{
    margin-top: 100px !important;
    padding-bottom: -100px;
    margin-bottom: -10px;
    margin-right: -43px !important;
    padding-right: 54px;
 
   }


   .prod{
       margin-left:18px;
   }

   .precio{
    margin-left:14px;

   }

   hr.linea-breadcum{
      
   }

   .fal.fa-search.buscarLupa {
    position: absolute;
    top: 37px;
    left: -6px;
}
 
  .leftText{
      margin-left:14px !important;
      font-size:12px;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    pointer-events: all;
  
}
 

input:checked ~ .checkmark:after {
    display: block;
  }

  


#politica {

    opacity: 1 !important;

}

td{
    padding: -0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.pd{
    padding-left:100px;
}

.contenido{
 margin-left:20px !important;
}
.content{
    margin-top:8px !important;
    margin-left:0px !important;

}

.textL{
    margin-left:50px !important;
   }

.centerText{
    text-align:center !important;
    position:absolute;
    left:640px !important;
}

.material-tooltip {
background-color: rgba(255, 255, 255, 0.918) !important;
color: black;
border: 1px rgba(185, 185, 185, 0.918)  solid;
border-radius: 10px;


}
.row.m-11 {
    margin-top: -92px;
}

.contenedor{
    width:92% !important;
    margin-left:2%;
    margin-top:-2px;
    height: 264px;
}
.Card-HeaderP.card-titleP.center-align.pad {
    margin-top: -19px !important;
}

.Card-Footer.card-action.p-cliente {
    margin-top: 39px !important;
    margin-left: -94px;
    margin-right: -129px;
}
.leftContainer{
    margin-left:-30px;
}

.Card-FooterX span {
    background: var(--decorator);
    background-color: var(--decorator);
    display: block;
    height: 10px;
    width: 100% !important;
    border-radius: 0pt 0pt 5pt 5pt;
}

.coltbl {
    border-bottom: 1px solid 
    rgba(231, 231, 231, 0.973);
    margin-right: 0px;
    margin-left: 8px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.coltl {
    border-bottom: 1px solid 
    rgba(240, 240, 240, 0.753);
    margin-right: 0px;
    margin-left: 27px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.anterior{
    margin-left:40px !important;
}

#demo-simple-select-label {
    margin-top: -13px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav{
    -webkit-box-shadow:0 !important;
}

p.pcenter{
    text-align:"center"
}

.dev{
    margin-left:60px;
}

.fontAwesome{   font-family: Roboto, FontAwesome, 'Material Icons'; }

.inputNumTransaccion::grammar-error{
 border-bottom: 1px solid red;
}

.topDetalle{
    margin-top:-10px;
}

 .cardbody.scroll{
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    font-family: Roboto;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.Det{
    margin-top:-24px;
}

.quickDet{
    margin-top:2px;
    margin-bottom: 0px;

}

.centerContent{
    margin-left: -43px;   
}

.centerEan{
    margin-left: -15px;   
}

.leftForma{
margin-left:12px !important;
padding-left:9px;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiFormLabel-filled {
    margin-top: -13px;
    margin-left: 3px;
}



.warning{
    margin-top: 15px;
    padding:25px;
    background:#E3F0FF;
    border-radius: 4px;
    opacity: 1;
    width:104%;
    height:100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:11px;
    color:#5a5a5a;
}

.mostrarForm{
    position: auto;
    top: -190px;
}

.subE{
    margin-left:15px;

}

.Card-Footer.card-action.p-cliente{
    margin-bottom: 30px; }

.list-group-item {
    padding-top: 0px;
    padding-bottom: 0px;
}

.card .cardone{
    margin-top: 5px;
    margin-bottom: 5px;

}

.leftPrint{
    margin-left:30%
}

.MuiCheckbox-colorSecondary.Mui-checked{
    color: #0071CE !important
}


p.check{
    padding-top: 13px !important;
}

.card{
    border: 0px solid rgb(187, 184, 184) !important;  
}

.widthHead{
    padding-top:8px;
 

}

.finalizar{
    margin-left: -73px;
    margin-top:-12%;

}

.iconText{
    display:inline;
}

.leftSearch{
    display:inline-block;
}

.cardH{
    height:700px;
}

.Product-table.Local thead tr th, .Product-table.Local tbody tr td {
    text-align: center;
    background:   white;
}

.Product-table.Local thead tr th, .Product-table.Local tbody tr td {

    text-align: center;
    background: 

white;

padding: 4px;

padding-bottom: 14px;


 }

 .w{
     max-width: 180% !important;
 }

 .fal.fa-list-alt.u-text-green {
    color:  #0093ff !important; 
    font-size: 26px;
}

    .fileBoleta-disabled{
        color:gray;
        font-size:20px;
    }

    .fileBoletaEn{
        color:rgb(228, 228, 8);
        font-size: 20px;
  
    }

    .u-scrollX-auto.u-Maxheight-226 {
        font-family: Roboto;
        font-size: 31px !important;
        font-size:20px;
        overflow-x: none !important;

      

    }

    tbody.u-scrollX-auto.u-Maxheight-226 {
        font-family: Roboto;
        font-size: 31px !important;
        font-size:20px;
        overflow-x: none !important;
        max-height: 135px;
        height:93px !important;

      

    }

    .sumaT {
        padding-left:12%;
        font-family: Roboto;
        font-size: 12px;
        margin-bottom: -42px;
        margin-top: -42px;
        padding-bottom:52px;
        
        
    }

   td.line{
        border-right:1px solid #cfcfcf;
    }

 

    .resultGreen{
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 46px;
        padding-top: 13px;
        max-width: 266px;
        position: absolute;
        left: 79%;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;
        
        
        
    }
    .col-md-3.col-lg-3.center-align.leftPdf {
        margin-left: 0%;
    }

    .col-md-4.col-lg-4.mt-md-0.mt-3.center-align.close {

        margin-right: 15%;
    
    }
    .resultGreen{
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 46px;
        padding-top: 12px;
        max-width: 233px;
        position: relative;
        left: 80%;
        top:-50px;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;

        
    }

    .ncRight{
        padding-top: 10px;
        padding-left: 80px;
    }

    .strong{
        font-weight: bold !important;
    }

    .waves-effect{
        z-index:0;
    }

    .inputD{
        margin-left: 5px;
        /* width: 9.666667% !important; */
        flex: 0 0 6.667% !important;
    }

    {
        font-size:12px !important;
    }

    .ncLeft{
        position: absolute;
        top: 16px;
    }

    .ReportDetalle-table td, .ReportDetalle-table th {
        padding: 3px 2px !important;
        text-align: left !important;
    }

    .footModal{
        position:relative;
        top:30px !important;
        padding-right: 41px;
    }

    .espacio{
        margin-top:200px !important;
    }

    .sp{
        margin-left:30px !important;
    }

    .row.resultrow {
        margin-top: -58px;
    }

    
   

    .topBoleta{
        position: auto;
        top: -26px !important;
    }

  
    .cardNote{
        font-size:42px  !important;
        position:absolute;
        left:300px !important;
    }

    .fontS{
     font-size: 22px !important;
    }

    th.desc{
        border-left: 1px solid rgb(94, 92, 92);    }
    
        td.desc{
            border-left: 1px solid rgb(94, 92, 92);    }


.cerrar{
border-radius: 6px;
border: 1px solid
#00b7ff;
color:
#00b7ff;
background-color: white;

    }

.cerrar:hover{
border-radius: 6px;
border: 1px solid
#00b7ff;
color:
#00b7ff;}

.u-bg-pinkB{
    color: white !important;
    background: #ff1800b8;
    width: 191px;
    height: 23px;
    padding-top: 2px;
    padding-bottom: 47px;
}



.ptL{
    margin-left:-20px;
}

.fal.fa-file-excel.buttonNewEx.topEx{
    position: relative !important;
    left: -114px !important;
    top:-3px !important;

    

}


p.ex{
    position: relative;
    top:-26px;
}


.excelH{

    height: 49px !important;
    width: 178px;
    padding-top: 6px;

}

.cerrar.modal-action.modal-close.waves-effect.btn.btn-large.ReportDetalle-btn-cerrar:hover {
    background: none !important;
}


p.centerT {

    padding-left: 12px !important;
    

}

.table td {
    text-align: center !important;   
 }

 

p.monto {

padding: 6px !important;
position:relative;
left:80%;
width: 290px;

}

.excelLet{
    color: white !important;
}
.formatoW{
    width:10px;
}

.esconder{
    display:none !important;
}

.some{
    margin-top: -24px !important;

}

.titW{
    max-width:155px;
}
.titWW{
    max-width:113px;
    margin-left: -232px;
}

.boletaProductos{
  
    margin-top:-110px;
}

.montoTD td {
    position: absolute;
    left: 80%;
    max-width: 200px;
    display: inline;
}


    .cardH {
        height: 976px;
        max-height: 767px; }

.final{
    margin-top:100px
}

.greenT {
margin-top: -479px;
margin-left: 69px;
width: 234px;
}

.co{
    color:red;
}

.rs{
    margin-left:2px !important;
}

.fr{
    margin-left:-5px !important;
}



.pr{
    margin-left:-188px
}

.prItem{
    margin-left:-222px  
}

.buscadorReporte{
    font-size:5px !important;
}



.ncLeft{
    position: absolute;
    top: 16px;
}

.greenResultCentralDMF {
    background-color: #D9FFD9;
    color: rgba(54, 51, 51, 0.589);
    height: 35px;
    padding-top: 10px;
    max-width: 208px;
    position: relative;
    left: 80%;
    font-family: Roboto;
    font-size: 12px;
    padding-right: 20px;
    
}




table.Product-table, .Product-table tbody { display:block; max-height:104px;   height: 179px;  }
table.Product-table thead, .Product-table table, .Product-table tbody tr { display:table; width:100%; table-layout:fixed; }


.ReportDetalle-table td, .ReportDetalle-table th {
    padding: 3px 2px !important;
    text-align: left !important;
}

.footModal{
    position:relative;
    top:30px !important;
}

.espacio{
    margin-top:200px !important;
}

.sp{
    margin-left:30px !important;
}




table.ReportDetalle-table  {
    width: 100%; /* 140px * 5 column + 16px scrollbar width */

}
thead.ReportDetalle-table  tr.ReportDetalle-table  { 
    width:100% !important
    /*text-align: left;*/
}
table.ReportDetalle-table  tbody,
table.ReportDetalle-table  thead.ReportDetalle-table  tr.ReportDetalle-table  {
width:100%; }

table.ReportDetalle-table  tbody {
  
    overflow-y: auto;
    overflow-x: hidden;
}

tr.ReportDetalle-table{
    height:50px;
}


.excelH.ExBig {
    margin-top: 68px;
}

.whiteTx {
    position: absolute;
    left: 51px;
    color:rgb(255, 255, 255) !important;
    top: -9px;
    
    
}


.topExx{
    margin-left:20px;
}



.toptop{margin-top: 15px!important}

.bigFoot {
    margin-top: 71px !important;
    margin-left: 9%;
}

.bigExt{
    margin-top: 71px !important;
    margin-left: 84%;
}

 .Product-table tbody { 
    display:block;

    max-height: 80px;
    
    height: 231px;
     overflow-y: scroll; 
     scrollbar-width: thin;
     
    
    }

/* LA TABLA DE LOS PRODUCTOS EN NC */

table.Principal-table, .Principal-table tbody { 
    display:block; max-height:200px;   height: 130px; }

table.Principal-table thead, .Principal-table table, .Principal-table tbody tr { display:table; width:100%; table-layout:fixed; }

table.Principal-table thead {
    overflow-y:scroll;
}
table.Principal-table td, th{
    text-align: center;
}
.firstP {
    width:60px;
}
p.exAjuste {
    position: relative;
    top: -32px;
}

table.ReportDetalle-table tbody {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px;
    height: 50px;
}


.formatoDetalle{
    width:100px
}

table { box-sizing: border-box; }
tbody tr:hover { padding-left: 16px; min-width: 170px; text-align: left; background-color: rgb(243, 243, 243); }

.maximoH{
    width:50px !important;
}

td {
    max-width: 105px;
}

.mr-2.centerT {
    margin-left: 35px;
}



.mW.dev {
    margin-left: 25%;
}

.mt{
    padding-top:10px;
    padding-bottom:10px;
}

p.centerT {
    text-align: left;
    max-width: ;
}

.fal.fa-print.ml-2 {
    float: left;
}

.required{
    color:red;
    padding-top: 30px;
    padding-bottom: 10px;
}

p.centrar{
    text-align:center;
}


.cerrarBoton{
    margin-left:400px !important;
    margin-left: -27% !important;
}



.cerrarBotonCentral {
    margin-right: 58% !important;
    margin-bottom: 0px !important;
}

.MuiFormControl-root.z {
    position: relative;
    left: 270px;
    top: -42px;
}

.row.nomargin {
    margin-bottom: -3px !important;
}
.row.nomargin.motivos {
    margin-bottom: -20px !important;}
.row .rowmargin {
    margin-top: 3% !important;
}

.sig1{
  
        margin-top: 4rem !important;
   
}

.bigFootCentral{
    margin-top: 5%;

}

.footModalCentral{
    padding-left:0%;
    padding-right:0%;

}

.pdfDetail{
    margin-left:0%;
}

.centro {
    text-align: center;
    margin-left: 0px;
    width: auto;
}
.px-3.px-44.valign-wrapper{
    margin-left:-20px;
}

.contPad{
margin-top:-21px !important;
}

.leftT{
    text-align:left !important
}
.rc-tabs-top{
    margin-bottom:4px !important;
}
.resultrow {
    height:0px
}

.buscadorReporte {
    position: relative;
    border-bottom:0px !important;
}

.buscadorReporte input[type="text"]:not(.browser-default){
    border-bottom:0px !important
}

.buscadorReporte input[type="text"]:not(.browser-default):hover{
    border-bottom:0px !important;
    margin: 0 0 0 0;
}

.buscadorReporte input[type="text"]:not(.browser-default):focus{
    border-bottom:0px !important;
    margin: 0 0 0 0;
    box-shadow: 0px 0px 0px 0px !important;
}

.MuiInput-underline::after {
    border-bottom:1px var(--blue) solid !important;
    border:none;
    margin: 0 0 0 0 !important;
    box-shadow: 0px 0px 0px 0px !important;


}
.MuiInput-underline:hover {
    border-bottom:1px var(--blue) solid !important;
    border:none;
   


}



.MuiInput-underline:focus {
    border-bottom:0px !important;
    border:none;
    box-shadow: 0px 0px 0px 0px !important;
    margin: 0 0 0 0 !important;
    border-bottom:none !important;

}
.greenResultCentral {
    background-color: #D9FFD9;
    color: rgba(54, 51, 51, 0.589);
    height: 46px;
    padding-top: 12px;
    max-width: 223px;
    position: relative;
    font-family: Roboto;
    font-size: 12px;
    padding-right: 20px;
    left: 82%;
}

.bluesquareFiltroAj{
    margin-top: -9px;
    padding:15px;
    background: #DFEEFF  0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:11px;
    color:#808080; }

    .bluesquareFChico{
       display:none;}


       .MuiMenu-paper{
        max-height: calc(100% - 96px);
        -webkit-overflow-scrolling: touch;
         width: 300px!important;
        }

        .bigLocalFoot {
            margin-top: 0% !important;
            margin-left: 80%;
        
        }

        .ncTitleLocal{
            width:126px;
        }

        .Responsivo{
            display:none;
        }

        .Det{
            display:block
        }

        .panelContent{
            height: 90px;
            overflow: hidden;
         
            border: 0px;
        }
@media(min-width:600px){
  
    button.Raised.waves-light.btn.greenBtn:disabled {
        background-color: var(--green) !important;
        color: white !important;
    }
    .pad20{
        padding-top:20px !important;
    }

    .pad30{
        margin-top:-0px
    }

    .Card.card{
        height:700px !important;
        max-height: 1300px;
    }

    .pad5{margin-top:19px !important}

    
    .pick{
        margin-top: 0px !important;
    }
    input.valid:not([type]), input.valid:not([type]):focus, input.valid[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default):focus, input.valid[type="password"]:not(.browser-default), input.valid[type="password"]:not(.browser-default):focus, input.valid[type="email"]:not(.browser-default), input.valid[type="email"]:not(.browser-default):focus, input.valid[type="url"]:not(.browser-default), input.valid[type="url"]:not(.browser-default):focus, input.valid[type="time"]:not(.browser-default), input.valid[type="time"]:not(.browser-default):focus, input.valid[type="date"]:not(.browser-default), input.valid[type="date"]:not(.browser-default):focus, input.valid[type="datetime"]:not(.browser-default), input.valid[type="datetime"]:not(.browser-default):focus, input.valid[type="datetime-local"]:not(.browser-default), input.valid[type="datetime-local"]:not(.browser-default):focus, input.valid[type="tel"]:not(.browser-default), input.valid[type="tel"]:not(.browser-default):focus, input.valid[type="number"]:not(.browser-default), input.valid[type="number"]:not(.browser-default):focus, input.valid[type="search"]:not(.browser-default), input.valid[type="search"]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
        border-bottom: 1px solid  #0071CE  !important;
    -webkit-box-shadow: 0 1px 0 0 #0071CE !important;
    box-shadow: 0 1px 0 0 #0071CE !important;
    }
    input[type="date"] {
        height: 2.375rem;
    }

   
    .anterior{
        left:0px;
        margin-left:0px !important;
    }
    .botonAntResumen{

        left:0px;
        margin-left:0px !important;
    }
    
}


@media(max-width:2000px){

    .Raised.btn.btn-limpiar{
        color:#0095ff;
        background: white !important;
        border:2px solid var(--blue);

    }

    button.Raised.waves-effect.waves-light.btn.greenBtn:disabled {
        background: #52b745 !important;
        color: white !important;
    }

    span.glyphicon.glyphicon-remove-circle{
    font-size:90px !important;
    }
    span.strong.Desktop.titlePhone.es {
        margin-top: -15px;
    }
    
    table.Product-table.Local.striped.up td{
        font-size:10px !important
    }

    .ingresar{
        margin-top:-30px !important
    }

    .pad20{margin-top:-20px !important}


    .Card.card{
        height:500px !important;
        max-height: 1300px;
    }

    input.ciudad{
        height: 2.0em !important;
    }

    input[type=number]::-webkit-inner-spin-button#pw {
        opacity: 1;
        -webkit-appearance: "number" !important;

      }

    .pick{
        margin-top: 2px !important;
    }

    .pickers{
        margin-top: 2px !important;

    }
    .MuiInput-root {
        position: relative;
        top: -7px;
    }
    .col-md-3.col-lg-3.center-align.leftPdf {
        margin-left: 10%;
    }

    .col-md-4.col-lg-4.mt-md-0.mt-3.center-align.close {

        margin-right: 0 !important;
    
    }

    .bigFoot {
        margin-top: 71px !important;
        margin-left: 0%;
    }
    .sumaT {
        padding-left:19%;
     
        
    }

    

    .footModalCentral{
        padding-left:4%;
    padding-right:4%;
    }

    .pdfDetail{
        margin-left:112px
    }

    #modalReport {
        height: 600px;
        max-height: 630px;
        top: 2% !important;
    }

    .col-5.col-lg-2.filtrosLeft {
        margin-left: 0%;
  
}

    .greenResultCentral {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 37px;
        padding-top: 12px;
        max-width: 223px;
        position: relative;
        font-family: Roboto;
        font-size: 12px;
        padding-right: 20px;
        left: 78% !important;
        top: -40px;
    }

    .ncTitleLocal {
        width: 126px;
    }

    .productTitleLocal {
        width: 79%;
    }

    .resultrow {
        height:0px

    }

    /* ESTO ES DE LA OPCION INFORME 1 NADA MAS */
  

    .MuiFormControl-root.z {

        position: relative;
        left: 176px;
        top: -42px;
    
    }
    .col-lg-2.inputD.tipoInf {
        width: 20%;
        max-width: 256px;
    }
    .centro {
        text-align: center;
        margin-left: -20px;
        width: 99px;
    }
    

    .greenResultCentralDMF{
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 46px;
        padding-top: 12px;
        max-width: 220px;
        position: absolute;
        left: 80%;
        font-family: Roboto;
        font-size: 12px;
        padding-right: 20px;
        top: 3%;
        
    }
    
    .px-3.px-44.valign-wrapper{
        margin-left:0px;
    }


    .bluesquareReport {
        margin-top: -10px;
        padding: 15px;
        background: #DFEEFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 11px;
        color: #808080;
    }

    .bluesquare{
        margin-top: -27px;
        padding:15px;
        background: #DFEEFF  0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size:11px;
        color:#808080; }

        .col-5.col-lg-2.filtrosLeft {
            margin-left: 67%;
        }

        .bluesquareFiltroAj{
            display:none;
        }
        .bluesquareFChico{
            display: block;
            padding:15px;
            background: #DFEEFF  0% 0% no-repeat padding-box;
            border-radius: 4px;
            opacity: 1;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size:11px;
            color:#808080;
            margin-top: -11px;
            

        
        }

        .panelContent{
            height: 60px;
            overflow: hidden;
         
            border: 0px;
        }

        

        .MuiMenu-paper{
            max-height: calc(100% - 96px);
            -webkit-overflow-scrolling: touch;
             width: 300px!important;
            }

            input[type=date]::-webkit-inner-spin-button {
                display: none;
            }

            .file-field.input-field {

                margin-top: 0em;
            
            }

            .leftCom{
                padding-left:29px;
            }

            .Responsivo{
                display:none;
            }

            .Det{
                display:block
            }
            .Lead .Lead-Spark {

                margin: 0;
                font-size: 14px;
            
            }

            .botonAntResumen{
                margin-left: 11px !important;    }

        
            button.Raised.waves-light.btn.greenBtn:disabled {
                    background-color: var(--green) !important;
                    color: white !important;
                }

}

@media(max-width:380px){
    .devTitle {
        top: -27%;
        position: absolute;
        left: 22% !important;
    }
    .Lead p{
        font-size:19px;
    }

    .rightMain{
        margin-left:10px;
    }

   
    .botonAntResumen{

        left:0px;
        margin-left:0px !important;
    }

    .pick{
        margin-top: 0px !important;
    }

    
}



@media(max-width:991px){

    .Raised.btn.btn-limpiar{
        color:var(--blue);
        background: white !important;
        border-color: var(--blue);
    }

    button.Raised.waves-light.btn.greenBtn:disabled {
        background-color: var(--green) !important;
        color: white !important;
    }
    .panelContent{
        height: 90px;
        overflow: hidden;
     
        border: 0px;
    }


.greenResultCentralDMF {

    background-color: #D9FFD9;
    color: rgba(54, 51, 51, 0.589);
    height: 46px;
    padding-top: 12px;
    max-width: 121px;
    position: none;
    left: 56%;
    font-family: Roboto;
    font-size: 12px;
    padding-right: 20px;
    top: 8%;
    }

    .login{
        margin-top:8% !important;
    }

    .Card.card{
        height:1600px !important;
        max-height: 1600px;
    }
    .Lead .Lead-Spark {

        margin: 0;
        font-size: 10px;
    
    }
    .Desktop{
        display:none;
    }
    .Phone{
        display: block;
    }

    .row{
    margin-bottom: 10px;}

    .Responsivo{
        display:block;
        margin-top:-30px;
    }
    

    .Det{
        display:none
    }

    .Card.card{
        max-height:1100px !important;

        height:1100px !important;
    }

    .Card.card.Principal {

        height: 1209px !important;
        max-height: 1300px;
    
    }

    .botonAntResumen{
        margin-left: 11px !important;    }
}

@media(max-width:800px){

    .Raised.btn.btn-limpiar{
        color:solid var(--blue);
        background: white !important;
        border:2px solid var(--blue);
    }

    button.Raised.waves-effect.waves-light.btn.greenBtn:disabled {
        background: #52b745 !important;
        color: white !important;
    }
    .pad5{margin-top:19px !important}
    .mostrarForm {
        position: auto;
        top: 41px !important;
    }

    .Card.card.cardlogin{
        height:600px !important;
    }

    .Card.card.cardboleta{
        height:700px !important;
    }

    .Card.card.cardProducto{
        height:800px !important;

    }

    .Card.card.clientProducto{
        height:1100px !important;

    }

    .px-5 {
        padding-left: 2.3rem !important;
        padding-right: 2rem !important;
    }
    button.swal2-confirm.swal2-styled {
        color: #3085d6 !important;
        margin-left: -32px !important;
    }

    .Card.card.Principal {

        height: 1009px !important;
        max-height: 1300px;
    
    }
}

@media(max-width:500px){

    .pad20{
        padding-top:20px;
    }

    button.Raised.waves-effect.waves-light.btn.greenBtn:disabled {
        background: #52b745 !important;
        color: white !important;
    }
    
    .devTitle {
        top: -27%;
        position: absolute;
        left: 22% !important;
    }
    
    p.monto {

        padding: 6px !important;
        position:relative;
        left:0%;
        width: 290px;
        bottom: 10px;
        
        }
    .Card.card.reporte {
        height: 1287px !important; }
    .greenResultCentralDMF{
        color: rgba(54, 51, 51, 0.589);
        font-family: Roboto;
        font-size: 12px;
        position: absolute;
        top: 67px !important;
        max-width: 120px;
    }

    .pad5{margin-top:19px !important}
    .pad20{margin-top:-20px !important}
    

    .login {

        margin-left: 2% !important;
        margin-top: 8% !important;
    
    }

    .p-5{
        padding-top: 8em !important;
    }
    .greenResultAj {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 38px !important;
        padding-top: 12px !important;
        max-width: 180px;
        position: absolute;
        top: -246px !important;
        left: 0% !important;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;
    }
    .ciudad{
        margin-top:10px;
        height: 2.4rem !important;
    }
    table.ReportDetalle-table{
        overflow-x:hidden !important;
        overflow-y:hidden !important;
    }

    table.ReportDetalle-table  thead{
        height:20px; /* 140px * 5 column + 16px scrollbar width */
    
      
    }
   
    .Lead p{
        font-size:19px;
    }

    .botonAntResumen{
        margin-left: 11px !important;    }

    .Lead .Lead-Spark {

        margin: 0;
        font-size: 10px;
    
    }

    button.swal2-confirm.swal2-styled {
        color: #3085d6 !important;
        margin-left: 120px;
    }
   
    .borde-derecho td{
        border:0px !important;
    }

    .Card.card {
        max-height: 1062px;

        height: 1062px;
    }

 

    .IniciarS{
        max-height:100px !important;
        height: 100px !important;  
    }
    .Lead p{
        font-size:10px;
    }

    .topButton{
        margin-top: -2% !important;
        margin-bottom: 0px !important;
       
    }
    .mW {
        display:none;
    }

    .input-field {
        margin-top: 8rem;
    }
    table.Principal-table thead, .Principal-table table, .Principal-table tbody tr{
    }
    table.Principal-table thead {
        float: left;
        display:table-column;
        border:0px;
        height:31px !important;
        
        
      

    }

    table.Principal-table thead th {
        display: block;
        border:0px;
   
      }

      

      th.firstP{
          margin-top:30px;
      }

      tr{
          border:0px !important;
      }

      
      table.Principal-table tr{
          border:0px;
      }
      table.Principal-table tbody tr{
        border:0px 0px 0px 0px !important;
        max-width: 170px;
      }
      table.Principal-table tbody {
        float: left;
        display:table-column;
        position: absolute;
        left: 45%;
        max-height: 500px !important;
        height: 251px !important;
        border:0px !important;
    }

    table.Principal-table tbody tr td {
        display: block;   
        border:0px;
      }
    
      .input-field {
        margin-top: 0rem;
    }

    .file-field.input-field {

        margin-top: 8em;
    
    }

    .col-xs-2{
    width:20%;
    }

    .head-tabla-dev{
        border:0px !important;
    }

    td.borde-derecho  {

        border: 0px !important;
    
    }

    .col-xs-4{
    width:90% !important;
    }


    .mostrarForm {

        position: auto;
        top: 12px;
    
    }

    .warning {

        margin-top: 15px;
        padding: 8px;
        background: #E3F0FF;
        border-radius: 4px;
        opacity: 1;
        width: 104%;
        height: 71%;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 11px;
        color: #5a5a5a;
        font-size:8px;
    
    }

    .MuiFormControl-root{
        padding:12px;
    }

    .leftCom{
        padding-left:0px;
    }
    .Det{
        display:none
    }

    .Responsivo{
        display:block;
    }

    .Det{
        display:none;
    }

    .row{
    margin-bottom: 10px;}

    .leftPrint{
        margin-left:0px;
    }

    .login{
        margin-left: 2%;
       
    }

    .firstP {
        width: 60px;
        margin-left: 20px;
    }
    .hab{
        margin-top:8px;
        margin-bottom:8px;
    }
    .disp{
        margin-top:3px;
        margin-bottom:3px;
    }

     .borde-derecho {
        border-right: 0px  !important;
    }

    td.borde-derecho{
        border-right: 0px !important;
    }

    .detResp{
        text-align:right;

    }
    .lineDisp{
        display:inline-flex
    }

    .card.cardone.boleta {

        margin-left: 18px;
        margin-right: -17px;
    
    }

    .card .card-content p {

        margin: 0;
        font-size: 10px;
    
    }

   

    b.centerTitle {

        font-size: 10px;
    
    }

    .MuiStepLabel-label.MuiStepLabel-completed {

        font-weight: 700 !important;
        font-size: 10px;
    
    }

    .MuiStepLabel-label.MuiStepLabel-active{
        font-size:10px;
    }

    .panelContent{
        height: 250px;
        overflow-y: hidden;
        overflow-x: hidden;
        border: "0px";
    }
    .bluesquareReport {
        margin-top: 15px;
        padding: 15px;
        background: #DFEEFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 11px;
        color: #808080;
    }

    
    .cerrarS{
        position:absolute;
        top:150px;
        left:30px;
    }
 
    .ImprimirButton{
        color:none;
        border:none;
    }
    .col-0{
        margin-top:10px
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
        height: 2rem;

        width: 100%;

    font-size: 11px;
    }

    

 


    .login {

        margin-left: 2% !important;
        margin-top: 8% !important;
    
    }

    .p-5{
        padding-top: 8em !important;
    }
    .greenResultAj {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 38px !important;
        padding-top: 12px !important;
        max-width: 180px;
        position: absolute;
        top: -246px !important;
        left: 0% !important;
        font-family: Roboto;
        font-size: 13px;
        padding-right: 20px;
    }
    .ciudad{
        margin-top:10px;
        height: 2.4rem !important;
    }
    table.ReportDetalle-table{
        overflow-x:hidden !important;
        overflow-y:hidden !important;
    }

    table.ReportDetalle-table  thead{
        height:20px; /* 140px * 5 column + 16px scrollbar width */
    
      
    }
   
    .Lead p{
        font-size:19px;
    }

    .botonAntResumen{
        margin-left: 11px !important;    }

    .Lead .Lead-Spark {

        margin: 0;
        font-size: 10px;
    
    }

    button.swal2-confirm.swal2-styled {
        color: #3085d6 !important;
        margin-left: 120px;
    }
   
    .borde-derecho td{
        border:0px !important;
    }

    .Card.card {
        max-height: 1062px;

        height: 1062px;
    }

 

    .IniciarS{
        max-height:100px !important;
        height: 100px !important;  
    }
    .Lead p{
        font-size:10px;
    }

    .topButton{
        margin-top: -2% !important;
        margin-bottom: 0px !important;
       
    }
    .mW {
        display:none;
    }

    .input-field {
        margin-top: 8rem;
    }
    table.Principal-table thead, .Principal-table table, .Principal-table tbody tr{
    }
    table.Principal-table thead {
        float: left;
        display:table-column;
        border:0px;
        height:31px !important;

    }
    .Principal-table thead{
        padding:20px !important;
    }

    table.Principal-table thead th {
        display: block;
        border:0px;
   
      }

      

      th.firstP{
          margin-top:30px;
      }

      tr{
          border:0px !important;
      }

      
      table.Principal-table tr{
          border:0px;
      }
      table.Principal-table tbody tr{
        border:0px 0px 0px 0px !important;
        max-width: 170px;
      }
      table.Principal-table tbody {
        float: left;
        display:table-column;
        position: absolute;
        left: 45%;
        max-height: 500px !important;
        height: 251px !important;
        border:0px !important;
    }

    table.Principal-table tbody tr td {
        display: block;   
        border:0px;
      }
    
      .input-field {
        margin-top: 0rem;
    }

    .file-field.input-field {

        margin-top: 8em;
    
    }

    .col-xs-2{
    width:20%;
    }

    .head-tabla-dev{
        border:0px !important;
    }

    td.borde-derecho  {

        border: 0px !important;
    
    }

    .col-xs-4{
    width:90% !important;
    }


    .mostrarForm {

        position: auto;
        top: 12px;
    
    }

    .warning {

        margin-top: 15px;
        padding: 8px;
        background: #E3F0FF;
        border-radius: 4px;
        opacity: 1;
        width: 104%;
        height: 71%;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 11px;
        color: #5a5a5a;
        font-size:8px;
    
    }

    .MuiFormControl-root{
        padding:12px;
    }

    .leftCom{
        padding-left:0px;
    }
    .Det{
        display:none
    }

    .Responsivo{
        display:block;
    }

    .Det{
        display:none;
    }

    .row{
    margin-bottom: 10px !important;}

    .leftPrint{
        margin-left:0px;
    }

    .login{
        margin-left: 2%;
       
    }

    .firstP {
        width: 60px;
        margin-left: 20px;
    }
    .hab{
        margin-top:8px;
        margin-bottom:8px;
    }
    .disp{
        margin-top:3px;
        margin-bottom:3px;
    }

     .borde-derecho {
        border-right: 0px  !important;
    }

    td.borde-derecho{
        border-right: 0px !important;
    }

    .detResp{
        text-align:right;

    }
    .lineDisp{
        display:inline-flex
    }

    .card.cardone.boleta {

        margin-left: 18px;
        margin-right: -17px;
    
    }

    .card .card-content p {

        margin: 0;
        font-size: 10px;
    
    }

   

    b.centerTitle {

        font-size: 10px;
    
    }

    .MuiStepLabel-label.MuiStepLabel-completed {

        font-weight: 700 !important;
        font-size: 10px;
    
    }

    .MuiStepLabel-label.MuiStepLabel-active{
        font-size:10px;
    }

    .panelContent{
        height: 250px;
        overflow-y: hidden;
        overflow-x: hidden;
        border: "0px";
    }
    .bluesquareReport {
        margin-top: 15px;
        padding: 15px;
        background: #DFEEFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 11px;
        color: #808080;
    }

    
    .cerrarS{
        position:absolute;
        top:150px;
        left:30px;
    }
 
    .ImprimirButton{
        color:none;
        border:none;
    }
    .col-0{
        margin-top:10px
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
        height: 2rem;

        width: 100%;

    font-size: 11px;
    }

    

 
    }


@media(max-width:1100px){


    button.Raised.waves-effect.waves-light.btn.greenBtn:disabled {
        background: #52b745 !important;
        color: white !important;
    }
    
    table.Product-table.Local.striped.up tbody {
       max-width:1500px !important;
       overflow:scroll !important;

    }
    .pad20{margin-top:-20px !important}


    table.Product-table.Local.striped.up td{
        font-size:6px !important
    }
    
    
    table.Product-table.Local.striped.up th{
        font-size:6px !important
    }

    .greenResultCentralDMF {
        background-color: #D9FFD9;
        color: rgba(54, 51, 51, 0.589);
        height: 29px;
        padding-top: 7px;
        max-width: 180px;
        position: none;
        left: 56%;
        font-family: Roboto;
        font-size: 9px;
        padding-right: 20px;
        top: 7%;
    
    
    }

    .bigFootCentral {
        margin-top: 17% !important;
    }

    .topBoleta{
        display:none;
    }
    .ncRight{display: none;}

    .bluesquareFChico {
        display: block;
        padding: 15px;
        background: #DFEEFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 9px;
        color: #808080;
        margin-top: -2px;
    }

    .desde{
     width:9.5% !important
    }

    .hasta{
        width:9.5% !important
    }

    .btn{
        line-height: 1.2 !important;
    }

    .Raised.btn.btn-limpiar{
        color:blue;
        background: white !important;
        border:2px solid var(--blue);

    }

    button.Raised.waves-light.btn.greenBtn:disabled {
        background-color: var(--green) !important;
        color: white !important;
    }

}
